<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>
<body>
    <div>
        <h1>Hi admin <%= user %>!!</h1>
        <p>A new comment, <%= comment %> has been added to your blog, <%= blogTitle %></p>
        <p>Please login to see the comment and reply if necessary</p>
    </div>
</body>
</html>