<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
</head>
<body>
    <div>
        <h2>Hello <%= email %>!</h2>
        <p>Your password has recently been changed. </p>
        <p>If it is you, you are OK to proceed</p>
        <p>If this is not you, please report to support immediately for recovery. <a href="mailto:bildadsimiyu4@gmail.com">support</a></p>
    </div>
</body>
</html>