<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User info</title>
</head>
<body>
    <h1>Hello <%= name %>!!</h1>
    <p>We noticed you changed your email from <%= oldEmail %> to <%= newEmail %></p>
    <p>If you did not make this change, please contact our support team immediately.</p>

</body>
</html>